doctype html
html
    include head
    section(class="hero is-primary")
        div(class="hero-body")
            div(class="container")
                h1(class="title")= "bulma-pug"
                h2(class="subtitle")= "Bulma templates in pug!"
    body
        section(class="section")
            div(class="container")
                block content
    include footer